@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

svg.Navbar-Spin-Enter {
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
}

svg.Navbar-Spin-Leave {
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}